{% extends 'web/base.html' %}
{% block content %}
    <p>Заказы покупателя {{customer.customer_name}}: </p>
    {% for order_data in orders_with_products %}
        <div>
            <h3>Заказ #{{ order_data.order.id }} ({{ order_data.order.order_date }})
                <small>
                <a href="{% url 'order_item_add' order_data.order.id %}">Добавить продукт</a>
                <a href="{% url 'order_delete' order_data.order.id %}">Отменить</a>
                </small>
            </h3>
            <ul>
                {% for item in order_data.products %}
                    <li>
                        {{ item.product.product_name }} - {{ item.quantity }} шт. ({{ item.product.product_price }} руб. за шт.)
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <nav>
        {% if orders_with_products.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{ orders_with_products.previous_page_number }}"><</a>
        {% endif %}

        Страница {{ orders_with_products.number }} из {{ orders_with_products.paginator.num_pages }}

        {% if orders_with_products.has_next %}
            <a href="?page={{ orders_with_products.next_page_number }}">></a>
            <a href="?page={{ orders_with_products.paginator.num_pages }}">>></a>
        {% endif %}
    </nav>

    <p><a href="{% url 'order_add' customer.id %}">Добавить заказ</a></p>
{% endblock %}